@media (max-width: 767px) {

  .center {
      padding-left: 16px;
      padding-right: 16px;
  }

  .top {
    height: 735px;
  }

  .top_content {
    width: 100%;
  }

  .top_text {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }

  .top_text-desc {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }

  .top_text-desc-bold {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }

  .top_button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  
  .select_game_one {
    width: 343px;
    height: 300px;
  }

  .for {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 16px;
    padding-right: 16px;
  }

  .for_desc {
    grid-column: span 4;
    margin-top: 51px;
    width: 343px;
  }

  .for_desc-main {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
  }

  .for_desc-desc {
    text-align: center;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }

  .for_button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .for_img {
    margin-top: 64px;
  }

  .for_img-desc {
    width: 344px;
  }

  .bottom_text {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 51px;
  }

  .bottom_text-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  .footer_text-desc {
    border-top: none;
  }


}